*{
    font-family: sans-serif;
}
.header {
    padding: 100px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
.navbar a{
    color: white;
    padding: 20px 10px;
    text-align: none;
    text-decoration: none;

}
.navbar{
    background-color: black;
    display: flex;

}
.navbar a:hover{
    background-color: white;
    color: black;
}
h1{
    text-align: center;
    padding: 10px;
}
.dishes{
    /* background-color: black; */
    padding: 10px;
    text-align: center;
    flex-direction: column;
    
}
.dishes a{
    color: white;
    padding: 20px 10px;
    text-align: center;
    padding-top: 50px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    background-color: black;
}
.dishes a:hover{
    background-color: tomato;

}
