body{
    background-color: bisque;
}
.recipe-links{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.heading{
    color: chocolate;
}
.gen-image{
    height: 400px;
    width: auto;
}